<div class="container">
    <h1>{{selectedBoard.name}}</h1>

    <mat-tab-group>
        <mat-tab class="tab" label="Board">             
            <app-action-presenter (messageEvent)="receiveMessage($event)" [board]="selectedBoard.id"></app-action-presenter>
            <app-to-do-list-presenter [message]="message" [board]="selectedBoard.id"></app-to-do-list-presenter> 
        </mat-tab>
        <mat-tab label="Settings">
            <app-user-assigned></app-user-assigned>
        </mat-tab>
    </mat-tab-group>
</div>

