<div class="container">
    <div class="popular-events">
        <div class="popular-events__header">
            <h2>Popular boards</h2>
        </div>

        <div class="popular-events__list">
            <div class="event">
                <mat-icon style="color: red;" class="event-icon" fontIcon="radio_button_unchecked"></mat-icon>
                <b>Designer's Events</b>
                <span class="event-count">22 Events</span>
            </div>

            <div class="event">
                <mat-icon style="color:dodgerblue;" class="event-icon" fontIcon="radio_button_unchecked"></mat-icon>
                <b>Designer's Events</b>
                <span class="event-count">22 Events</span>
            </div>

            <div class="event">
                <mat-icon style="color:seagreen" class="event-icon" fontIcon="radio_button_unchecked"></mat-icon>
                <b>Designer's Events</b>
                <span class="event-count">22 Events</span>
            </div>

            <div class="event">
                <mat-icon style="color:darkgoldenrod" class="event-icon" fontIcon="radio_button_unchecked"></mat-icon>
                <b>Designer's Events</b>
                <span class="event-count">22 Events</span>
            </div>
        </div>
    </div>
</div>
