<div class="container">
    <div class="image">
        <img src="../../../../../assets/image/image.jpg"/>
    </div>
    <div class="login-panel">
        <h2 class="login-panel__header">Login</h2>

        <form class="login-panel__form">
            <div class="input-box">
                <span>Email adress</span>
                <mat-form-field>
                  <input type="email" matInput placeholder="name@email.com">
                </mat-form-field>
            </div>

            <div class="input-box">
                <span>Password</span>
                <mat-form-field>
                  <input type="password" matInput placeholder="*******">
                </mat-form-field>
            </div>

            <div class="input-box">
                <mat-checkbox>Remember Password</mat-checkbox>
                <button mat-raised-button color="primary">Login</button>
            </div>

            <div class="sign-up">
                <span>Don't have account? </span>
                <a [routerLink]="['/register']">Sign up</a>
            </div>
        </form>
    </div>
</div>