.container {
    width: 100%;
    display: flex;
    height: 100vh;

    .image {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 99%;
        }
    }

    .login-panel {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__form {
            width: 80%;
        }

        .input-box {
            display: flex;
            flex-direction: column;

            mat-checkbox {
                margin-bottom: 10px;
            }
        }

        .sign-up {
            margin-top: 20px;
        }
    }
}