<h1 mat-dialog-title>Create new task</h1>
<div mat-dialog-content [formGroup]="addTaskForm">
    <div class="input-box">
        <span>Name</span>
        <mat-form-field>
          <input formControlName="name" type="text" matInput placeholder="Name">
        </mat-form-field>

        <span class="text-danger" *ngIf="addTaskForm.controls['name'].invalid && (addTaskForm.controls['name'].dirty || addTaskForm.controls['name'].touched)">Name is required</span>
    </div>

    <div class="input-box">  
        <span>Description</span>
        <mat-form-field>
          <input formControlName="description" type="text" matInput placeholder="Description">
        </mat-form-field>
        <span class="text-danger" *ngIf="addTaskForm.controls['description'].invalid && (addTaskForm.controls['description'].dirty || addTaskForm.controls['description'].touched)">Description is required</span>
    </div>

    <div class="input-box">
        <span>Select lists</span>
        <mat-form-field appearance="fill">
            <mat-label>lists</mat-label>
            <mat-select formControlName="listId">
              <mat-option *ngFor="let list of lists" [value]="list.id">{{list.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="text-danger" *ngIf="addTaskForm.controls['listId'].invalid && (addTaskForm.controls['listId'].dirty || addTaskForm.controls['listId'].touched)">Select list is required</span>
    </div>

    <div class="buttons">
        <button mat-raised-button (click)="onNoClick()" color="warn">Cancel</button>
        <button mat-raised-button (click)="addTask()" color="primary">Add</button>
    </div>
</div>