<nav class="menu">
  <div class="header">
    <h2>TodolistApp</h2>
  </div>

  <ul class="menu__list">
    <li class="menu__list--item">
      <mat-icon fontIcon="grid_view"></mat-icon>
      <a [routerLink]="['dashboard']" [routerLinkActive]="['is-active']">Dashboard</a>
    </li>
    <li class="menu__list--item">
      <mat-icon fontIcon="folder"></mat-icon>
      <a>Project</a>  <!-- implement mat-tree to display projects -->
    </li>
    <li class="menu__list--item">
      <mat-icon fontIcon="settings"></mat-icon>
      <a>Settings</a>     
    </li>
    <li class="menu__list--item">
      <a>Teams</a>
    </li>
  </ul>
</nav>
