.menu {
    .header {
        margin-top: 20px;
        padding-left: 20px;
    }

    background-color: #F8FAFB;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__list {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-top: 10px;
        margin-top: 0px;
        padding-left: 20px;

        &--item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            a {
                margin-left: 10px;
                text-decoration: none;
                color: #7F7E83;
            }
        }

        .is-active {
            color: black;
        }
    }

    mat-tree {
        background-color: #F8FAFB;
    }
}